<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <dotpay_main>
                <active>0</active>
                <id></id>
                <pin></pin>
                <test>0</test>
                <model>DotpayMainAdapter</model>
                <title>Dotpay payments</title>
                <username></username>
                <password></password>
                <instruction>0</instruction>
                <display_logo>1</display_logo>
                <redirect_url>dotpay/payment/preparing</redirect_url>
                <instruction_url>dotpay/payment/instruction</instruction_url>
                <back_url>dotpay/payment/back</back_url>
                <status_url>dotpay/payment/status</status_url>
                <confirm_url>dotpay/payment/confirm</confirm_url>
                <oc_manage_url>dotpay/oneclick/manage</oc_manage_url>
                <oc_remove_url>dotpay/oneclick/remove</oc_remove_url>
                <order_status>dotpay_pending</order_status>
                <status_complete>dotpay_complete</status_complete>
                <status_canceled>dotpay_canceled</status_canceled>
                <show_shortcut>1</show_shortcut>
            </dotpay_main>
            <dotpay_oc>
                <active>0</active>
                <model>DotpayOcAdapter</model>
                <title>One Click card payments</title>
                <sort_order>1</sort_order>
                <can_use_checkout>1</can_use_checkout>
            </dotpay_oc>
            <dotpay_cc>
                <active>0</active>
                <model>DotpayCcAdapter</model>
                <title>Card payments</title>
                <fcc_active>0</fcc_active>
                <fcc_id></fcc_id>
                <fcc_pin></fcc_pin>
                <fcc_currencies></fcc_currencies>
                <sort_order>2</sort_order>
                <can_use_checkout>1</can_use_checkout>
            </dotpay_cc>
            <dotpay_mp>
                <active>0</active>
                <model>DotpayMpAdapter</model>
                <title>Masterpass (via Dotpay)</title>
                <sort_order>3</sort_order>
                <can_use_checkout>1</can_use_checkout>
            </dotpay_mp>
            <dotpay_blik>
                <active>0</active>
                <model>DotpayBlikAdapter</model>
                <title>BLIK (via Dotpay)</title>
                <sort_order>4</sort_order>
                <can_use_checkout>1</can_use_checkout>
            </dotpay_blik>
            <dotpay_paypal>
                <active>0</active>
                <model>DotpayPaypalAdapter</model>
                <title>Paypal (via Dotpay)</title>
                <sort_order>5</sort_order>
                <can_use_checkout>1</can_use_checkout>
            </dotpay_paypal>
            <dotpay_widget>
                <widget>1</widget>
                <disable_currencies></disable_currencies>
                <model>DotpayWidgetAdapter</model>
                <title>Dotpay</title>
                <sort_order>6</sort_order>
                <can_use_checkout>1</can_use_checkout>
            </dotpay_widget>
        </payment>
    </default>
</config>
