<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="\Zend\ServiceManager\ServiceLocatorInterface" type="\Zend\ServiceManager\ServiceManager" />
    
    <type name="Dotpay\Payment\Block\Adminhtml\System\Config\Html\Register">
        <arguments>
            <argument name="adapter" xsi:type="object">DotpayOcAdapter</argument>
        </arguments>
    </type>
    <!-- Configuration of payment method -->
    <virtualType name="DotpayMainAdapter" type="Dotpay\Payment\Model\Method\AbstractAdapter">
        <arguments>
            <argument name="code" xsi:type="string">dotpay_main</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Dotpay\Payment\Block\Info\Widget</argument>
            <argument name="valueHandlerPool" xsi:type="object">DotpayMainValueHandlerPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="DotpayOcAdapter" type="Dotpay\Payment\Model\Method\OcAdapter">
        <arguments>
            <argument name="code" xsi:type="const">Dotpay\Payment\Model\Ui\OcConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Dotpay\Payment\Block\Info\Oc</argument>
            <argument name="valueHandlerPool" xsi:type="object">DotpayOcValueHandlerPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="DotpayCcAdapter" type="Dotpay\Payment\Model\Method\CcAdapter">
        <arguments>
            <argument name="code" xsi:type="const">Dotpay\Payment\Model\Ui\CcConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Dotpay\Payment\Block\Info\Cc</argument>
            <argument name="valueHandlerPool" xsi:type="object">DotpayCcValueHandlerPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="DotpayMpAdapter" type="Dotpay\Payment\Model\Method\MpAdapter">
        <arguments>
            <argument name="code" xsi:type="const">Dotpay\Payment\Model\Ui\MpConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Dotpay\Payment\Block\Info\Mp</argument>
            <argument name="valueHandlerPool" xsi:type="object">DotpayMpValueHandlerPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="DotpayBlikAdapter" type="Dotpay\Payment\Model\Method\BlikAdapter">
        <arguments>
            <argument name="code" xsi:type="const">Dotpay\Payment\Model\Ui\BlikConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Dotpay\Payment\Block\Info\Blik</argument>
            <argument name="valueHandlerPool" xsi:type="object">DotpayBlikValueHandlerPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="DotpayPaypalAdapter" type="Dotpay\Payment\Model\Method\PaypalAdapter">
        <arguments>
            <argument name="code" xsi:type="const">Dotpay\Payment\Model\Ui\PaypalConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Dotpay\Payment\Block\Info\Paypal</argument>
            <argument name="valueHandlerPool" xsi:type="object">DotpayPaypalValueHandlerPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="DotpayWidgetAdapter" type="Dotpay\Payment\Model\Method\WidgetAdapter">
        <arguments>
            <argument name="code" xsi:type="const">Dotpay\Payment\Model\Ui\WidgetConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Dotpay\Payment\Block\Info\Widget</argument>
            <argument name="valueHandlerPool" xsi:type="object">DotpayWidgetValueHandlerPool</argument>
        </arguments>
    </virtualType>
    
    <!-- Value handler pools -->
    <virtualType name="DotpayMainValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">DotpayMainConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="DotpayOcValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">DotpayOcConfigValueHandler</item>
                <item name="main" xsi:type="string">DotpayMainConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="DotpayCcValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">DotpayCcConfigValueHandler</item>
                <item name="main" xsi:type="string">DotpayMainConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="DotpayMpValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">DotpayMpConfigValueHandler</item>
                <item name="main" xsi:type="string">DotpayMainConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="DotpayBlikValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">DotpayBlikConfigValueHandler</item>
                <item name="main" xsi:type="string">DotpayMainConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="DotpayPaypalValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">DotpayPaypalConfigValueHandler</item>
                <item name="main" xsi:type="string">DotpayMainConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="DotpayWidgetValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">DotpayWidgetConfigValueHandler</item>
                <item name="main" xsi:type="string">DotpayMainConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    
    <!-- Config value handlers -->
    <virtualType name="DotpayMainConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">DotpayMainGatewayConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="DotpayOcConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">DotpayOcGatewayConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="DotpayCcConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">DotpayCcGatewayConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="DotpayMpConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">DotpayMpGatewayConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="DotpayBlikConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">DotpayBlikGatewayConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="DotpayPaypalConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">DotpayPaypalGatewayConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="DotpayWidgetConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">DotpayWidgetGatewayConfig</argument>
        </arguments>
    </virtualType>
    
    <!-- Readers of configuration -->
    <virtualType name="DotpayMainGatewayConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="string">dotpay_main</argument>
        </arguments>
    </virtualType>
    <virtualType name="DotpayOcGatewayConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Dotpay\Payment\Model\Ui\OcConfigProvider::CODE</argument>
        </arguments>
    </virtualType>
    <virtualType name="DotpayCcGatewayConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Dotpay\Payment\Model\Ui\CcConfigProvider::CODE</argument>
        </arguments>
    </virtualType>
    <virtualType name="DotpayMpGatewayConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Dotpay\Payment\Model\Ui\MpConfigProvider::CODE</argument>
        </arguments>
    </virtualType>
    <virtualType name="DotpayBlikGatewayConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Dotpay\Payment\Model\Ui\BlikConfigProvider::CODE</argument>
        </arguments>
    </virtualType>
    <virtualType name="DotpayPaypalGatewayConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Dotpay\Payment\Model\Ui\PaypalConfigProvider::CODE</argument>
        </arguments>
    </virtualType>
    <virtualType name="DotpayWidgetGatewayConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Dotpay\Payment\Model\Ui\WidgetConfigProvider::CODE</argument>
        </arguments>
    </virtualType>
    
    <!-- UI config providers -->
    <type name="Dotpay\Payment\Model\Ui\OcConfigProvider">
        <arguments>
            <argument name="adapter" xsi:type="object">DotpayOcAdapter</argument>
        </arguments>
    </type>
    <type name="Dotpay\Payment\Model\Ui\CcConfigProvider">
        <arguments>
            <argument name="adapter" xsi:type="object">DotpayCcAdapter</argument>
        </arguments>
    </type>
    <type name="Dotpay\Payment\Model\Ui\MpConfigProvider">
        <arguments>
            <argument name="adapter" xsi:type="object">DotpayMpAdapter</argument>
        </arguments>
    </type>
    <type name="Dotpay\Payment\Model\Ui\BlikConfigProvider">
        <arguments>
            <argument name="adapter" xsi:type="object">DotpayBlikAdapter</argument>
        </arguments>
    </type>
    <type name="Dotpay\Payment\Model\Ui\PaypalConfigProvider">
        <arguments>
            <argument name="adapter" xsi:type="object">DotpayPaypalAdapter</argument>
        </arguments>
    </type>
    <type name="Dotpay\Payment\Model\Ui\WidgetConfigProvider">
        <arguments>
            <argument name="adapter" xsi:type="object">DotpayWidgetAdapter</argument>
        </arguments>
    </type>
    
    <!-- Url helper -->
    <type name="Dotpay\Payment\Helper\Url">
        <arguments>
            <argument name="context" xsi:type="object">Magento\Framework\App\Helper\Context</argument>
            <argument name="adapter" xsi:type="object">DotpayMainAdapter</argument>
        </arguments>
    </type>
    
    <!-- Facories of SDK components -->
    <virtualType name="DotpayOcFactory" type="Dotpay\Payment\Model\Factory\OcFactory">
        <arguments>
            <argument name="paymentAdapter" xsi:type="object">DotpayOcAdapter</argument>
        </arguments>
    </virtualType>
    <virtualType name="DotpayCcFactory" type="Dotpay\Payment\Model\Factory\CcFactory">
        <arguments>
            <argument name="paymentAdapter" xsi:type="object">DotpayCcAdapter</argument>
        </arguments>
    </virtualType>
    <virtualType name="DotpayMpFactory" type="Dotpay\Payment\Model\Factory\MpFactory">
        <arguments>
            <argument name="paymentAdapter" xsi:type="object">DotpayMpAdapter</argument>
        </arguments>
    </virtualType>
    <virtualType name="DotpayBlikFactory" type="Dotpay\Payment\Model\Factory\BlikFactory">
        <arguments>
            <argument name="paymentAdapter" xsi:type="object">DotpayBlikAdapter</argument>
        </arguments>
    </virtualType>
    <virtualType name="DotpayPaypalFactory" type="Dotpay\Payment\Model\Factory\PaypalFactory">
        <arguments>
            <argument name="paymentAdapter" xsi:type="object">DotpayPaypalAdapter</argument>
        </arguments>
    </virtualType>
    <virtualType name="DotpayWidgetFactory" type="Dotpay\Payment\Model\Factory\WidgetFactory">
        <arguments>
            <argument name="paymentAdapter" xsi:type="object">DotpayWidgetAdapter</argument>
        </arguments>
    </virtualType>
</config>