<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="dotpay_oc_config_provider" xsi:type="object">Dotpay\Payment\Model\Ui\OcConfigProvider</item>
                <item name="dotpay_cc_config_provider" xsi:type="object">Dotpay\Payment\Model\Ui\CcConfigProvider</item>
                <item name="dotpay_mp_config_provider" xsi:type="object">Dotpay\Payment\Model\Ui\MpConfigProvider</item>
                <item name="dotpay_blik_config_provider" xsi:type="object">Dotpay\Payment\Model\Ui\BlikConfigProvider</item>
                <item name="dotpay_paypal_config_provider" xsi:type="object">Dotpay\Payment\Model\Ui\PaypalConfigProvider</item>
                <item name="dotpay_other_config_provider" xsi:type="object">Dotpay\Payment\Model\Ui\OtherConfigProvider</item>
                <item name="dotpay_widget_config_provider" xsi:type="object">Dotpay\Payment\Model\Ui\WidgetConfigProvider</item>
            </argument>
        </arguments>
    </type>
</config>